.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #555555;
}

.header-nav__logo {    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__menus {
    display: none;
}



.header-nav__menus.active{
    display: block;
}