.nav-toggle {
 padding: 5px; background-color: transparent;
 border: none; 
}
.nav-toggle:focus {
    outline: none;
}

.nav-toggle span {
    margin:0;
    padding: 0;
    display: block;
    background-color: var(--secoundary);
    width: 20px;
    height: 2px;
}
.nav-toggle span:nth-child(2) {
    margin: 4px 0;
}